.headerContainer{
    display: flex;
    width: 100%;
    padding: 1rem;
    background: var(--primaryGradient);
    opacity: 0.98;
    position: fixed;
    height: 80px;
    align-items: center;
    justify-content: center;

    
    img {
        position: absolute;
        left: 1rem;
        width: 60px;
        height: auto;
    }
}